@import "reset"
@import "utils"

*
  box-sizing: border-box
  -webkit-overflow-scrolling: touch

html,
body
  height: 100%
  font-size: 14px
  font-family: "Open Sans", "Helvetica", "Helvetica Neue", "Arial", sans-serif
  -webkit-font-smoothing: antialiased
  -webkit-overflow-scrolling: touch

a
  text-decoration: none

.header-dark
  @include theme('dark')

.layout-dark
  @include theme('dark')

.header-light
  @include theme('light')

.layout-light
  @include theme('light')