.container {
    width: 379px;
    border: 1px solid #888;
    border-radius: 4px;
}

.container header {
    background-color: #EFF6FF;
    padding: 5px;
    text-align: center;
}

.content {
    text-align: center;
}

.content .operation span {
    color: #64748B;
}

.content .sum {
    font-weight: bold;
}
